{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6
  },
  "extends": "standard",
  "rules": {
    "comma-dangle": "off",
    "eqeqeq": "warn",
    "indent": "warn",
    "semi": "warn"
  },
  "plugins": [
    "compat"
  ],
  "globals": {
    "console": true,
    "localStorage": true,
    "fetch": true
  }
}
